{% extends 'base.html' %}
{% load static %}

{% block title %}カード詳細{% endblock %}

{% block active_cardcomment_list %}active{% endblock %}


{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row">
            <div class="col-3">
                <strong>カード名</strong>
            </div>
            <div class="col-9">
                {{ object.cardName }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>評価マーク</strong>
            </div>
            <div class="col-9">
                {{ object.mark }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>フォーマット</strong>
            </div>
            <div class="col-9">
                {{ object.format }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>コメント</strong>
            </div>
            <div class="col-9">
                {{ object.comment|linebreaksbr }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>ユーザー</strong>
            </div>
            <div class="col-9">
                {{ object.user }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>作成日時</strong>
            </div>
            <div class="col-9">
                {{ object.created_at }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>更新日時</strong>
            </div>
            <div class="col-9">
                {{ object.updated_at }}
            </div>
        </div>

        {% if user.is_authenticated %}
            {% ifequal user|stringformat:"s" object.user|stringformat:"s" %}
                <a class="btn btn-success mt-5 mb-3" href="{% url 'assessment:cardcomment_update' object.pk %}">編集</a>
                <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'assessment:cardcomment_delete' object.pk %}">削除</a>
           {% endifequal %}
        {% endif %}

    </div>
</div>
{% endblock %}