{% extends 'base.html' %}
{% load static %}

{% block title %}セット別カード一覧{% endblock %}

{% block active_cardcomment_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="clearfix">
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary float-right" href="{% url 'assessment:cardcomment_create' %}">新規作成</a>
                    {% endif %}
                </div>
                <h2 class="post-title">
                    カード別コメント一覧
                </h2>
                <br>
                {% for cardcomment in cardcomment_list %}
                    {% if cardcomment.cardName|stringformat:"s" in request.path %}
                        <div class="post-preview">
                            <a href="{% url 'assessment:cardcomment_detail' cardcomment.pk %}">
                                <h5>{{ cardcomment.cardName }}</h5>
                                {% if cardcomment.mark == "◎" %}
                                    <font color="blue">
                                {% elif  cardcomment.mark == "○" %}
                                    <font color="green">
                                {% elif  cardcomment.mark == "△" %}
                                    <font color="orange">
                                {% else %}
                                    <font color="red">
                                {% endif %}
                                        {{ cardcomment.mark|truncatechars:20 }}
                                    </font>
                                <b>{{ cardcomment.format|truncatechars:20 }}</b><br>
                                {{ cardcomment.comment|truncatechars:20 }}<br>
                            </a>
                            <p class="post-meta">更新日時：{{ cardcomment.updated_at }}</p>
                            <hr>
                        </div>
                     {% endif %}
                {% empty %}
                    <p>コメントがありません。</p>
                {% endfor %}

                <!-- ページネーション処理 -->
                {% if is_paginated %}
                    <ul class="pagination">
                        <!-- 前ページへのリンク -->
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        <!-- ページ数表示 -->
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- 次ページへのリンク -->
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}