{% extends 'base.html' %}
{% load static %}

{% block title %}カードコメント作成{% endblock %}

{% block active_cardcomment_list %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-primary mt-5" type="submit">投稿</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}