{% extends 'base.html' %}
{% load static %}

{% block title %}MTGカード評価投稿サイト{% endblock %}

{% block active_cardcomment_list %}active{% endblock %}

{% block header%}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">MTGカード評価投稿</h1>
      <h2 class="masthead-subheading mb-0">トレーディングカードゲーム「Magic：The Gathering(MTG)」のカード評価を投稿するサイトです</h2>
      <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}

{% block head %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">

    <!-- My style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
<link href="{% static 'css/clean-blog_index.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<br>
<section>
  <div class="container">
    <div class="row align-items-center">
            <div class="col-lg-8  mx-auto">
              <div class="clearfix">
                <h2 class="display-4">新着コメント</h2>
                {% for cardcomment in cardcomment_list|slice:":3" %}
                        <div class="post-preview">
                            <a href="{% url 'assessment:cardcomment_detail' cardcomment.pk %}">
                                <h5>{{ cardcomment.cardName }}</h5>
                                {% if cardcomment.mark == "◎" %}
                                    <font color="blue">
                                {% elif  cardcomment.mark == "○" %}
                                    <font color="green">
                                {% elif  cardcomment.mark == "△" %}
                                    <font color="orange">
                                {% else %}
                                    <font color="red">
                                {% endif %}
                                        {{ cardcomment.mark|truncatechars:20 }}
                                    </font>
                                <b>{{ cardcomment.format|truncatechars:20 }}</b><br>
                                {{ cardcomment.comment|truncatechars:20 }}<br>
                            </a>
                            <p class="post-meta">更新日時：{{ cardcomment.updated_at }}</p>
                            <hr>
                        </div>
                {% empty %}
                    <p>コメントがありません。</p>
                {% endfor %}
              </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}